[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coderedcms = "*"
psycopg2-binary = "*"
django = "*"
django-cors-headers = "*"
numpy = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"

[dev-packages]
